<style>
body {
    margin: 40px;
    font-family: "Franklin Gothic Medium", serif;
    font-size: 12pt;
    background-color: #F5CBA7;
}

header {
    font-family: "Franklin Gothic Demi";
}

 h1 {
    font-size: 25pt;
    letter-spacing: 2pt;
    border-bottom: 1px solid black;
    margin-bottom: 4px;
    padding-bottom: 10px;
}
h2 {
    font-size: 20pt;
    letter-spacing: 2pt;
    border-bottom: 1px solid black;
    margin-bottom: 4px;
}
 h3 {
    font-size: 15pt;
    letter-spacing: 2pt;
    border-bottom: 1px solid black;
    margin-bottom: 4px;
}
    
</style>
