<style>
body {
    background-color:rgba(255, 99, 71, 0.5);
    margin: 40px;
    font-family: Georgia, serif;
    font-size: 12pt;
}

 h1 {
    font-size: 25pt;
    letter-spacing: 2pt;
    border-bottom: 2px solid black;
    margin-bottom: 6px;
    padding-bottom: 10px;
}
h2 {
    font-size: 20pt;
    letter-spacing: 2pt;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    margin-bottom: 6px;
}
 h3 {
    font-size: 15pt;
    letter-spacing: 1pt;
    margin-bottom: 6px;
}

div {
    width: 500px;
    height: 100px;
    background-color: white;
    overflow: visible;
}
.head {display: inline;
  color: black;
  text-align: center;
  padding: 10px 20px;
  float: left;
  font-size: 20px;
  }

    
</style>
